@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.container {
  display: block;
  width: 100%;
  max-width: 65rem;
  min-width: 300px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.container h2{
  max-width: 1118px;
  width: 100%;
  height: 44px;
  background-color: #EEF8F3;
  color: #000000;
  font-size: 20px;
  padding: 9.5px;
  padding-left: 16px;
  margin-bottom: 18px;
  border-radius: 10px;
  font-weight: 500;
}

.container h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.form_box {
  border-radius: 20px;
  border: 0.5px solid #b1b1b1;
  padding: 20px;
  background-color: #fff;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.column {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.column label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.column input,
.column select,
.column textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.criar_button {
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #39805F;
  color: #FFF5F6;
  background-color: #39805F;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

.criar_button:hover {
  background-color: #39805fe6;
}

.button_box {
  width: 100%; /* Alterado para usar uma porcentagem */
  max-width: 1152px;
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3vh;
}

.message {
  min-height: 300px;
  margin-top: 56px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}