@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.container_box {
  width: 1200px;
  min-height: 363.72px;
  margin-top: -30px;
  margin-bottom: 56px;
  border-radius: 20px;
  border: 0.5px solid #b1b1b1;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.container h1 {
  margin-top: -30px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #000000;
}

.list_container {
  list-style: none;
}

.list_box {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 56px;
}

.tutor {
  width: 1152px;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 3rem;
}

.item_container {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;

  justify-content: space-between;
}

.item_box {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.item_box h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #404040;
}

.item_box div {
  margin-top: -6px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #39805F;
}

.title_endereco {
  width: 1152px;
  margin-bottom: -80px;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: #272727;
}

.botao {
  width: 1152px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: -40px;
  margin-bottom: 56px;
}

.editar_button {
  width: 180px;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #327053;
  gap: 1px;
  color: #327053;
  background-color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.editar_button:hover {
  background-color: #d8cece;
}

.message {
  min-height: 300px;
  margin-top: -400px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .container_box {
      width: 90%;
      padding: 15px;
      gap: 20px;
  }

  .tutor {
      width: 95%;
      display: flex;
      flex-direction: column;
      gap: 15px;
  }

  .item_container {
      width: 100%;
      gap: 20px;
  }

  .item_box {
      max-width: 200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: left;
  }

  .botao {
      width: 95%;
      display: flex;
      justify-content: right;
      margin-top: 0px;
      margin-bottom: 0px;
  }

  .title_endereco {
    margin-left: 0;
  }

  .tutor {
    margin-left: 0;
  }

}

@media (max-width: 585px){

  .item_box {
    max-width: 100%;
}
}
