@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
  display: block;
  width: 80%;
  max-width: 1500px;
  min-width: 300px;
  min-height: 700px; 
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form_box {
  display: block;
  justify-content: center;
  align-items: center;

  background-color: white;

  padding: 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;

  border-radius: 16px;
  box-shadow: 0px 0px 14px 0px #00000026;
  border: 0.5px solid #B1B1B1;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.form_box div {
  margin-bottom: 8px;
}

.container h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.box_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -20px;
}

.button {
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: 1px;
  font-size: 16px;
  color: white;
  background-color: #327053;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background-color: #5b977b;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 0px;
  gap: 3%;
}

.cadastrar_button {
  width: 180px;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
  border: 1px;
  gap: 10px;
  font-size: 16px;
  color: white;
  background-color: #327053;
  font-family: 'Poppins', sans-serif;
}

.cadastrar_button:hover {
  background-color: #5b977b;
}

.form-select-disabled {
  background-color: #f8f9fa;
  color: #6c757d;
  cursor: not-allowed;
}
