@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.white_button {
    width: 180px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #39805F;
    color: #39805F;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;

}

.white_button:hover {
    background-color: #f3f3f37b;
}
