@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
  justify-content: center;
  align-items: center;
}

.boxcadastrotutor {
  display: block;
  width: 80%;
  max-width: 1500px;
  min-width: 300px;
  height: auto; 
  background-color: white;
  padding: 30px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.continuarbotao{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 0px;
  gap: 3%;
}

.titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1px;
}


.infoIcon {
  color: #ffa500; /* Cor do ícone de informação */

}

.informativoLAI{
  color: #ffa500;
  margin-left: 5px;
}

.infoContainer {
  font-size: 16px; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative; /* ou absolute ou fixed */
  top: -20px;
}

.input {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #3d856371;
  border: 1px solid #ccc;
}

.input::placeholder {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}
  
.laiInfo {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-top: 20px;
}

.laiInfo p {
  font-size: 14px;
  line-height: 1.6;
}

.laiCheckboxLabel {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.obrigatorio {
  color: #C7122F;
}

.error_message {
  margin-top: -0.2em;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #C7122F;
}
