@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
  
.boxcadastrotutor {
  display: block;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1500px;
  min-width: 300px;
  height: auto; 
  background-color: white;
  padding: 30px;
  margin: auto;
  margin-top: -40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.obrigatorio {
  color: red;
}

.titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.input {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #3d856371;
  border: 1px solid #ccc;
}

.input::placeholder {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}
.informacaoLAI {
  background-color: #f9f9f9;  /* Cor de fundo suave */
  border-left: 5px solid #3c8b66ce; /* Borda esquerda para destaque */
  padding: 15px; /* Espaçamento interno */
  margin-top: 15px; /* Margem acima do elemento */
  border-radius: 8px; /* Bordas arredondadas */
}

.informacaoLAI p {
  font-size: 13px; /* Tamanho de fonte do parágrafo */
  color: #333; /* Cor da fonte */
  line-height: 1.5; /* Espaçamento entre linhas */
  margin-bottom: 14px; /* Espaço abaixo do parágrafo */
}

.informacaoLAI label {
  display: flex;
  align-items: center; /* Alinha o texto e checkbox verticalmente */
  font-size: 15px; /* Tamanho de fonte da etiqueta */
  color: #3c8b66ce; /* Cor da fonte da etiqueta para destacar */
}

.informacaoLAI input[type="checkbox"] {
  margin-right: 10px; /* Margem à direita do checkbox */
  cursor: pointer; /* Cursor de ponteiro para indicar que é clicável */
  margin-top: 4px;
}
