@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
  display: block;
  width: 60%;
  max-width: 1500px;
  min-width: 300px;
  height: auto; 
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 50px;
}

.form_box {
  border-radius: 16px;
  box-shadow: 0px 0px 14px 0px #00000026;
  border: 0.5px solid #B1B1B1;
}

.box_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -20px;
}

.button {
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: 1px;
  font-size: 16px;
  color: white;
  background-color: #327053;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background-color: #5b977b;
}
