@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.data_completa {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    color: #272727;
}

.dia_da_semana {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #39805F;
}

.curta {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;    
    color: #606060;
}
