.backgroundfooter{
    background-color: #327053;
    height: 6em;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10%;
    min-width: 10%;
    gap: 1em;
    flex-wrap: wrap;
    bottom: 0;
    position: relative;

    @media screen and (max-width: 700px) {
        height: 15em;
    
        bottom: 0;
        position: relative;
    
        .logohvu{
            padding-top: 1em;
            align-items: center;
        }
        .redessociais{
            gap: 1em;
            display: flex;
            padding-bottom: 1em;
        }
    
    }
}
.logohvu{
    align-items: center;
}
.logosufapelmts{

}
.redessociais{
    gap: 1em;
    display: flex;
}

