.backgroundfooter{
    background-color: #327053;
    height: 6em;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10%;
    min-width: 10%;
    gap: 1em;
    flex-wrap: wrap;
    bottom: 0;
    position: relative;

    @media screen and (max-width: 700px) {
        margin-top: auto;
        width: 100%;
        height: 10em;
        display: flex;
        align-items: center;
        flex-direction: 1;
        transform: scale(1.0);
        
        bottom: 0;
        position: auto;

    
        .logohvu{
            padding-top: 1em;
            align-items: center;
        }
        .redessociais{
            gap: 1em;
            display: flex;
            padding-bottom: 1em;
        }
    
    }
}
.logohvu{
    align-items: center;
}
.redessociais{
    gap: 1em;
    display: flex;
}

