@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.button_box {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: left;
  justify-items: space-evenly;
  gap: -48px;
  background-color: #39805f;
  overflow-x: auto;
}

#button_decoration {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  display: flex;
  margin-left: 48px;
}

#button_decoration:hover {
  text-decoration: underline;
}
