@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.header {
    width: 1,440px;
    height: 140px;
    padding: 0px 120px 0px 120px;
    border: 0px 0px 2px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid#ECECEC;
}

.box_buttons {
    display: flex;
    align-items: center;
    justify-items: space-evenly;
    gap: 32px;
}

#black_button_decoration {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: black;
}

#black_button_decoration:hover {
    color: black;
    text-decoration: underline;
}

#white_button {
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #327053;
    gap: 1px;
    color: #327053;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-decoration: none;
}

#white_button:hover {
    background-color: #e5faf0;
}

#green_button {
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    gap: 1px;
    color: white;
    background-color: #327053;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-decoration: none;
}

#green_button:hover {
    background-color: #5b977b;
}
