@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    width: 1200;
    height: 500px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

.infos_box {
    display: flex;
    flex-direction: column;
    width: 1200px;
    border-radius: 20px;
    border: 0.5px solid #B1B1B1;
    gap: 56px;
}

.identificacao {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 28px;
    margin-top: 32px;
}

.nome_animal {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #272727;    
}

.especie_animal {
    color: #39805F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    
}

.box {
    display: flex;
    gap: 188px;
    margin-left: 28px;
    margin-bottom: 32px;

}

.lista {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #39805F;
}

.infos h6 {
    margin-top: -6px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #404040;
}

.botao {
    display: flex;
    float: right;
    margin-top: -78px;
    margin-right: 28px;
}

.message {
    min-height: 300px;
    margin-top: 56px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}


@media screen and (max-width: 768px) {
    
    .infos_box {
        width: 90vw;
        padding: 16px;
        gap: 20px;
        height: 55vh;
        margin-right: 2em;
    }

    .voltar{
        display: flex;
        width: 95%;
    }

    .message {
        font-size: 18px;
    }

    .box{
        gap: 2em;
    }

    .botao{
        transform: translate(0, 3.5em);
        width: 90%;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .container h1 {
        font-size: 20px;
    }

    .infos_box {
        width: 90vw;
        padding: 16px;
        gap: 20px;
        height: 107%;
    }

    .infos p, .infos h6 {
        font-size: 14px;
    }

    .box{
        gap: 1.5em;
    }

}