@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.container {
  display: block;
  width: 100%;
  max-width: 65rem;
  min-width: 300px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.container h2{
  max-width: 1118px;
  width: 100%;
  height: 44px;
  background-color: #EEF8F3;
  color: #000000;
  font-size: 20px;
  padding: 9.5px;
  padding-left: 16px;
  margin-bottom: 18px;
  border-radius: 10px;
  font-weight: 500;
}

.container h1 {
  font-size: 24px;  
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.form_box {
  width: 100%;
  max-width: 100%; 
  border-radius: 20px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
  overflow-x: hidden; 
}

.box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.checkbox_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Grid responsivo */
  gap: 0.5rem;
  margin: 1rem 0;
}
.radio_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Grid responsivo */
  gap: 0.5rem;
  margin: 1rem 0;
}
.checkbox_container input[type="checkbox"] {
  appearance: none;
  margin-right: 0.5rem;
  accent-color: #39805f;
  border: 1px solid #B1B1B1;
  /* border-radius: 5px; */
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.radio_container input[type="checkbox"] {
  appearance: none;
  margin-right: 0.5rem;
  accent-color: #39805f;
  border: 1px solid #B1B1B1;
  border-radius: 5px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}


.checkbox_container label {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 3.5vw, 16px);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}
.radio_container label {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 3.5vw, 16px);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.checkbox_container input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #39805f;
}
.radio_container input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #39805f;
}

.checkbox_container input[type="checkbox"]:checked {
  background-color: #B1B1B1;
}
.radio_container input[type="checkbox"]:checked {
  background-color: #B1B1B1;
}
.column {
  flex: 1;
  min-width: 100px;
  margin: 10px;
}

.column label {
 display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #272727;
}

.column input,
.column select,
.column textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.inputs_three_columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}

.inputs_four_columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}

.criar_button {
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #39805F;
  color: #FFF5F6;
  background-color: #39805F;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

.criar_button:hover {
  background-color: #39805fe6;
}

.button_box {
  width: 100%; /* Alterado para usar uma porcentagem */
  max-width: 1152px;
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3vh;
}

.message {
  min-height: 300px;
  margin-top: 56px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.error_message {
  margin-top: -0.2em;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #C7122F;
}
/* index.module.css */
.boxBorder {
  display: grid;
  border-radius: 20px;
  padding-bottom: 18px;
  padding-left: 29px;
  padding-right: 37px;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);      
}