@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.pagina {
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    height: 900px;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}

.header {
    width: 1200px;
    height: 42.58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_item1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.itens_box_1 {
    display: flex;
    gap: 21.1px;
    align-items: center;
}

.itens_box_2 {
    display: flex;
    gap: 24px;
    align-items: center;
}

.tabela {
    width: 1200px;
    height: 588px;
    margin-top: 50px;
    border: 2px solid #ECECEC;
    border-radius: 12px;
}

.coluna_l1 {
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    gap: -10px;
}

.coluna1 {
    width: 80px;
    height: 123px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: #606060;
    display: flex;
    justify-content: center;
    align-items: top;
}

.linha1 {
    width: 160px;
    height: 96px;
    border-bottom: 2px solid #ECECEC;
}

.th {
    width: 1100px;
    height: 88px;
    border-left: 2px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}

.botao {
    background-color: #39805F;
    width: 1100px;
    height: 88px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15px;
    border: none;
}

.button_container {
    width: 131px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub1 {
    display: flex;
    gap: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: white;
}

.sub2 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: white;
}

.sub3 {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    color: white;
}

.nome {
    display: flex;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    color: white;
}
