@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.container_box {
    width: 1200px;
    min-height: 363.72px;
    margin-top: -30px;
    margin-bottom: 56px;
    border-radius: 20px;
    border: 0.5px solid #B1B1B1;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.container h1 {
    margin-top: -30px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;
}

.list_container {
    list-style: none;
}

.list_box {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 56px;
}

.tutor {
    width: 1152px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item_container {
    display: flex;
    align-items: center;
    gap: 188px;
}

.item_box {
    width: 272px;
    display: flex;
    flex-direction: column;
}

.medico_nome {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #272727;
}

.item_box h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #404040;
}

.item_box div {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #39805F;
}

.title_endereco {
    width: 1152px;
    margin-bottom: -80px;
    display: flex;
    justify-content: left;
    align-items: left;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #272727;
}

.button_container {
    width: 1152px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 48px;
    gap: 32px;
}

