@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    min-height: 700px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.navbar_container {
    display: flex;
    gap: 32px;
    text-align: center;
    align-items: center;
}

.search {
    width: 1200px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info_container {
    width: 1200px;
    height: 136px;
    border-radius: 10px;
    border: 0.5px solid #B1B1B1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_box {
    width: 384px;
    height: 56px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info_box h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #606060;
}

.info_box p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #39805F;
}

.button_container {
    width: 384px;
    height: 56px;
    display: flex;
    gap: 24px;
    justify-content: right;
}

.editar_button {
    width: 117px;
    height: 44px;
    border-radius: 10px;
    border: 1px;
    background-color: #327053;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
}

.editar_button:hover {
    background-color: #5b977b;
}

.adicionar_raca_button {
    width: 180px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #327053;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #327053;
}

.adicionar_raca_button:hover {
    background-color: #f3f3f37b;
}

.paragrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #606060;
}

