@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.voltar {
  display: flex;
  width: 95%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.navbar {
  display: flex;
  gap: 32px;
  text-align: center;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info_box {
  width: 1200px;
  height: 139px;
  border-radius: 10px;
  border: 0.5px solid #b1b1b1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 384px;
  height: 59px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info h6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #606060;
}

.info p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #39805f;
}

.button_box {
  width: 384px;
  height: 44px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: right;
}

.acessar_button {
  width: 117px;
  height: 44px;
  padding: 10px;
  border-radius: 10px;
  border: 1px;
  gap: 10px;
  font-size: 16px;
  color: white;
  background-color: #327053;
  font-family: "Poppins", sans-serif;
}

.acessar_button:hover {
  background-color: #5b977b;
}

.message {
  min-height: 300px;
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 700px) {
  .container {
    padding-right: 2em;
    padding-left: 2em;
    gap: 1em;
    height: 100%;
  }

  .container h1 {
    font-size: 20px;
    line-height: 30px;
  }

  .navbar {
    width: 100%;
    gap: 1em;
  }

  .lista {
    gap: 1em;
    padding: 1em;
  }

  .info_box {
    width: 75vw;
    height: 100%;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin: 1em;
  }

  .info {
    width: 90%;
    height: auto;
    gap: 1px;
  }

  .button_box {
    width: 100%;
    justify-content: right;
    gap: 12px;
  }

  .message {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 500px) {
  .button_box {
    gap: 12px; /* Reduz o espaço entre os elementos */
  }

  .acessar_button {
    width: 5.5em; /* Reduz o tamanho do botão */
    padding: 0px; /* Ajusta o padding */
  }
}
