.excluir_button {
    width: 117px;
    height: 44px;
    border-radius: 10px;
    border: 1px;
    background-color: #C7122F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
}

.excluir_button:hover {
    background-color: #c94157;
}

