@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.box_button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 70px;
}

.button {
    background-color: #548063;
    color: white;
    border: none;
    padding: 20px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

.button:hover {
    background-color: #075b34;
}

.titulo {
    width: 100%;
    color: #327053;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.text {
    color: white;
}

@media screen and (max-width: 768px) {
    .box_button {
        margin-top: 10px;
    }

    .button {
        width: 100%;
    }
} 