@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.green_button {
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    gap: 10px;
    font-size: 16px;
    color: white;
    background-color: #327053;
    font-family: 'Poppins', sans-serif;
}
.green_button:hover {
    background-color: #5b977b;
}
