@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
  display: block;
  width: 80%;
  max-width: 1500px;
  min-width: 300px;
  min-height: 600px; 
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.obrigatorio {
  color: red;
}

.form_box {
  display: block;
  justify-content: center;
  align-items: center;

  background-color: white;

  padding: 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;

  border-radius: 16px;
  box-shadow: 0px 0px 14px 0px #00000026;
  border: 0.5px solid #B1B1B1;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.form_box div {
  margin-bottom: 8px;
}

.container h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 50px;
}

.card {
  display: block;
  width: 100%;
  max-width: 1500px;
  min-width: 300px;
  min-height: 60px; 
  margin: auto;
  margin-top: 7px;
  margin-bottom: 50px;
  
}

.cardTitle{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

.container h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0em;
  margin-top: 50px;
}

.button_box{
  display: flex;
  gap: 16px;
  align-items: center;
}

.box_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -20px;
}

.button {
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: 1px;
  font-size: 16px;
  color: white;
  background-color: #327053;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background-color: #5b977b;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 0px;
  gap: 3%;
}

.cadastrar_button {
  width: 180px;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
  border: 1px;
  gap: 10px;
  font-size: 16px;
  color: white;
  background-color: #327053;
  font-family: 'Poppins', sans-serif;
}

.cadastrar_button:hover {
  background-color: #5b977b;
}

.form-select-disabled {
  background-color: #f8f9fa;
  color: #6c757d;
  cursor: not-allowed;
}

.inputs_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.input_space {
  display: flex;
  justify-content: center;
}

.div_space {
  display: flex;
  gap: 32px;
}

.input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
}

.checkbox:focus {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 2px #3d856371;
}

.checkbox:checked {
  background-color: #327053;
  border: 1px solid #ccc;
  box-shadow: #327053;
}

.macroscopia_field {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.macroscopia_select {
  background-color: #e0f7e0; 
  margin-right: 10px; 
  width: 70%; 
}

.macroscopia_button {
  width: 30%; 
}

.add_button {
  background-color: #5b977b; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.add_button:hover {
  background-color: #327053; 
}

.macroscopia_section {
  margin-top: 20px;
}

.macroscopia_label {
  margin-bottom: 0px; 
}

.add_button_container {
  margin-top: 20px; 
}

.add_button {
  background-color: #327053; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.add_button:hover {
  background-color: #5b977b;
}

.message {
  min-height: 300px;
  margin-top: 56px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.term {
  cursor: pointer;
  transition: text-decoration 0.2s;
}

.term:hover {
  text-decoration: underline; 
}
