@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  justify-content: center;
  align-items: center;
}

.list{
  list-style-type: none;  
}
  
.boxcadastrotutor {
  display: block;
  width: 63%;
  max-width: 1500px;
  min-width: 300px;
  height: auto; 
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 0.5px solid #B1B1B1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-bottom: 180px;
}

.form_box div {
  margin-bottom: 8px;
}

.titulocadastro{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black ;
  font-family: 'Poppins', sans-serif;
  margin-top: 3%;
  margin-bottom: 10%;
}

.input {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #3d856371;
  border: 1px solid #ccc;
}

.input::placeholder {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.col select option {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.button_box {
  display: flex;
  justify-content:  flex-end;;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0px;
  gap: 3%;
}

.criar_button {
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #39805F;
  color: #FFF5F6;
  background-color: #39805F;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

.criar_button:hover {
  background-color: #39805fe6;
}

.error_message {
  margin-top: -0.2em;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #C7122F;
}

.message {
  min-height: 500px;
  margin-top: 56px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 768px) {
  .boxcadastrotutor {
    width: 90%;
    padding: 15px;
  }

  .titulocadastro {
    font-size: 20px;
    margin-bottom: 5%;
  }

  .input {
    font-size: 12px;
  }

  .voltar{
    display: flex;
    width: 95%;
}
}
