@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    min-height: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.navbar {
    display: flex;
    gap: 32px;
    text-align: center;
}

.pesquisa {
    width: 1200px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center; /* Adicionado */
}

.info_box {
    width: 1200px;
    min-height: 139px;
    border-radius: 10px;
    border: 0.5px solid #B1B1B1;
    display: flex;
    flex-direction: column; /* Alterado */
    align-items: center; /* Alterado */
    justify-content: space-around; /* Adicionado */
    padding: 20px; /* Adicionado */
    gap: -10px;
}

.info_container{
    width: 1100px;
    min-height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -20px;
}

.info {
    width: 100%; /* Alterado */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #606060;
}

.info p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #39805F;
}

.button_box {
    width: 100%; /* Alterado */
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-end; /* Alterado */
}

.acessar_button {
    padding: 10px 20px; /* Alterado */
    border-radius: 10px;
    border: none; /* Alterado */
    font-size: 16px;
    color: white;
    background-color: #327053;
    font-family: 'Poppins', sans-serif;
    cursor: pointer; /* Adicionado */
}

.acessar_button:hover {
    background-color: #5b977b;
}

.paragrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #606060;
}

.message {
    min-height: 300px;
    margin-top: 56px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
