@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.container {
  display: block;
  max-width: 1192px;
  width: 80%;
  min-width: 300px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.container h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.container h2 {
  font-size: 17px;
  font-weight: 700;
  text-align: start;
  color: #333;
}

.titulo{
  max-width: 1118px;
  width: 100%;
  height: 44px;
  background-color: #EEF8F3;
  color: #000000;
  font-size: 20px;
  padding: 9.5px;
  padding-left: 16px;
  margin-bottom: 18px;
  border-radius: 10px;
  font-weight: 500;
}

.dados_ocultos{
  max-width: 1118px;
  width: 100%;
  height: 44px;
  background-color: #32705380;
  font-size: 20px;
  padding: 9.5px;
  padding-left: 16px;
  padding-right: 150px;
  margin-bottom: 18px;
  margin-top: 38px;
  border-radius: 10px;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: space-between;
}

.dados_ocultos:hover{
  background-color: #32835d80;
}

.form_box {
  display: grid;
  border-radius: 20px;
  padding-bottom: 18px;
  padding-left: 29px;
  padding-right: 37px;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
}

.column {
  flex: 1;
  min-width: 250px;
}

.column label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #272727;
}

.column input,
.column select,
.column textarea {
  width: 100%;
  padding: 10px;
  height: 42px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 18px;
}

.column input:focus,
.column select:focus,
.column textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #3d856371;
}

.column textarea[id="caixa-alta"]{
  height: 516px;
}

.column select[id="meia-caixa"]{
  display: grid;
  max-width: 526px; 
  width: 47%;
}

.criar_button {
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #39805F;
  color: #FFF5F6;
  background-color: #39805F;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

.criar_button:hover {
  background-color: #39805fe6;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.button_box {
  width: 100%; 
  max-width: 1152px;
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3vh;
}

.tabela_tratamento {
  width: 100%;
  border-spacing: 10px 11px;
  border-collapse: separate;
}

.tabela_tratamento td {
  text-align: center;
  font-size: 16px;
}

.tabela_tratamento th {
  text-align: center;
  background-color: #f6fbf9;
  font-weight: 600;
  font-size: 16px;
  color: #7f7f7f;
  border: solid 1px #7f7f7f;
  border-radius: 5px;
  padding-right: 10px;
}

.tabela_tratamento th[id="medicacao"]{
  max-width: 526px;
  width: 49%;
}

.tabela_tratamento input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 49px;
  margin-bottom: -5px;
}

.bolha_container {
  display: flex;
  justify-content: end;
  gap: 7px;
  margin-right: 15px;
}

.bolha {
  display: flex;
  position: relative;
  width: 23px;
  height: 23px;
  align-items: center;   
  justify-content: center;
  background-color: #ccc;
  color: white;
  border-radius: 50%;
  font-size: 22px;
  line-height: 18px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  user-select: none;
  transition: background 0.3s;
  padding-top: 3px;
}

.bolha_remover_linha {
  right: 0px;  
}

.bolha:hover {
  background-color: #a5a5a5;
}

.message {
  min-height: 300px;
  margin-top: 56px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

@media(max-width: 980px) {

  .container {
    width: 100%;
  }

  .tabela_tratamento input {
    width: 110px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 49px;
    margin-bottom: -5px;
  }
}.row {
  display: flex; /* Alinha os elementos lado a lado */
  gap: 16px; /* Espaçamento entre os elementos */
}