.backgroundfooter{
    background-color: #327053;
    Height: 120.78px;
    /*Top: 926.22px*/
}
.footercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logohvu{
    flex: 0;
    margin-left: 120px;
    margin-top: 30.89px;
}
.logosufapelmts{
    flex: 1;
    text-align: center;
    margin-top: 30px;
}
.redessociais{
    display: flex;
    Top:36.89px;
    Left: 1196px;
    Gap: 213px;
}