.backgroundfooter{
    background-color: #327053;
    Height: 150.78px;
    /*Top: 926.22px*/
}
.footercontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logohvu{
    flex: 0;
    margin-left: 120px;
    margin-top: 30.89px;
}
.logosufapelmts{
    flex: 1;
    text-align: center;
    margin-top: 20px;
    gap: 0;
    justify-content: center;
}
.redessociais{
    display: flex;
    gap: 3px;
    margin-top: 25px;
    margin-right: 120px;
}