@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.container {
    justify-content: center;
    align-items: center;

  }
  
  .boxcadastrotutor {
    display: block;
    width: 80%;
    max-width: 1500px;
    min-width: 300px;
    height: auto; 
    border: 1px;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    
  }
.titulocadastro{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black ;
}
.continuarbotao{
  margin-top: 20px;
  margin-bottom: -10px;
  display: flex;
  justify-content: flex-end;
}

  