.botaocadastro {
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    border-color: #327053;
    border: 10px;
    gap: 1px;
    color: #327053;
    background-color: white;
    font-size: 16px;
}

.botaologin {
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    gap: 10px;
    font-size: 16px;
    color: white;
    background-color: #327053;
}

.header {
    width: 1,440px;
    height: 140px;
    padding: 0px 120px 0px 120px;
    border: 0px 0px 2px 0px;
    /*justify: space-between;*/

}
