@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.white_button {
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #327053;
    gap: 1px;
    color: #327053;
    background-color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
