
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.container {
  width: 100%;
  max-width: 65rem;
  min-width: 300px;
  margin: 30px auto;
  font-family: "Poppins", sans-serif;
}
.container h1 {
  font-size: clamp(20px, 5vw, 24px); /* Font size responsivo */
  font-weight: 700;
  text-align: center;
  color: #333;
}

.container h2 {
  font-size: 14px;
  font-weight: 700;
  text-align: start;
  color: #333;
  margin-bottom: 10px;
}

.titulo {
  max-width: 1118px;
  width: 100%;
  height: 44px;
  background-color: #eef8f3;
  color: #000;
  font-size: 20px;
  padding: 9.5px 16px;
  margin-bottom: 18px;
  border-radius: 10px;
  font-weight: 500;
  box-sizing: border-box;
}

.dados_ocultos {
  width: 100%;
  height: auto;
  background-color: #32705380;
  font-size: clamp(16px, 4vw, 20px);
  padding: 0.5rem 1rem;
  margin: 1.5rem 0 1rem;
  border-radius: 10px;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dados_ocultos:hover {
  background-color: #32835d80;
}

.form_box {
  width: 100%;
  max-width: 100%; /* Garante que o formulário não ultrapasse o contêiner */
  border-radius: 20px;
  padding: 1rem; /* Padding relativo */
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
  overflow-x: hidden; /* Evita overflow horizontal */
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 1rem;
}

.singleColumn {
  display: block; /* Remove o grid, usando uma única coluna */
  margin-left: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 1rem;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px
}

.column input,
.column textarea {
  width: 80px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 18px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.column input:focus,
.column textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #3d856371;
}

.column input[id="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.column input.inputLargo {
  width: 100%;
}

.inputGroup {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.posturalInputGroup {
  display: flex;
  gap: 15px; /* Espaçamento entre os inputs */
  margin-top: 10px; /* Espaçamento entre o label e os inputs */
}

.posturalInputGroup label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.posturalInputGroup input {
  width: 80px; /* Largura dos inputs */
  padding: 8px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.posturalInputGroup input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #3d856371;
}

.criar_button {
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #39805f;
  color: #fff5f6;
  background-color: #39805f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.criar_button:hover {
  background-color: #39805fe6;
}

.button_box {
  max-width: 1152px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.box_ficha_toggle {
  max-width: 1118px;
  width: 100%;
  margin: 38px 0 18px;
}

.toggleButton {
  max-width: 1118px;
  width: 100%;
  height: 44px;
  background-color: #98b7a9;
  color: #000;
  font-size: 20px;
  padding: 9.5px 16px;
  margin-bottom: 0;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.3s ease;
}

.toggleButton::after {
  font-weight: 600;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.toggleButton.expand::after {
  content: "+";
}

.toggleButton.minimize::after {
  content: "-";
}

.toggleButton:hover {
  background-color: #d6ece0;
}

.toggleButton:active {
  background-color: #c4e2d2;
}

.container_toggle {
  width: 100%;
  height: auto;
  margin-top: 22px;
}

.container_toggle h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.infos_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  border: 0.5px solid #b1b1b1;
  padding: 20px;
}

.identificacao {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px 0 0 28px;
}

.nome_animal {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.especie_animal {
  color: #39805f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.animal-data-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 28px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infos {
  display: flex;
  flex-direction: column;
}

.infos p {
  margin-top: -6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #39805f;
}

.infos h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #404040;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #272727;
}

.checkboxLabel input[type="checkbox"] {
  appearance: none;
  margin-right: 10px;
  width: 26px; /* Mesmo tamanho do primeiro código */
  height: 26px; /* Mesmo tamanho do primeiro código */
  border: 1px solid #B1B1B1; /* Mesma borda do primeiro código */
  border-radius: 5px; /* Mesmo border-radius */
  cursor: pointer;
  accent-color: #39805f; /* Mesma cor de destaque */
}
.checkboxLabel input[type="checkbox"]:checked {
  background-color: #B1B1B1; /* Mesma cor de fundo quando selecionado */
}

.bilateralInputGroup {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.bilateralInputGroup label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.bilateralInputGroup input {
  width: 100px;
  padding: 8px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bilateralInputGroup input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #3d856371;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px; /* espaço entre título e detalhes */
}

.checkboxTitle {
  font-weight: 500;
  margin-left: -0.6rem;
}

.checkboxDetails {
  margin-left: 26px; /* para alinhar com o texto após o checkbox */
  font-size: 14px;
  line-height: 1.4;
}

.title{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #272727;
  margin-left: 1rem;
  
}


@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .form_box {
    padding: 15px;
  }

  .box {
    grid-template-columns: 1fr; /* Uma coluna em telas menores */
  }

  .animal-data-box {
    flex-direction: column;
    gap: 15px;
  }

  .button_box {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }

  .criar_button {
    width: 100%;
    max-width: 300px;
  }
}