@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.pageContainer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
}
