@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.filter {
    width: 120.68px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #B1B1B1;
    
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #909090;
}
