@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.container {
  width: 100%;
  max-width: 65rem;
  min-width: 300px;
  margin: 30px auto;
  font-family: "Poppins", sans-serif;
}

.container h1 {
  font-size: clamp(20px, 5vw, 24px);
  font-weight: 700;
  text-align: center;
  color: #333;
}

.container h2,
.titulo {
  width: 100%;
  height: auto;
  background-color: #EEF8F3;
  color: #000000;
  font-size: clamp(16px, 4vw, 20px); /* Font size responsivo */
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-weight: 500;
}

.form_box {
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
}

.column {
  flex: 1;
  min-width: 100px;
  margin: 0.5rem;
}

.column label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #272727;
}

.column input,
.column select,
.column textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  font-size: clamp(12px, 3vw, 14px);
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 1ram;
}

.column input:focus,
.column select:focus,
.column textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #3d856371;
}

.button_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .container {
    margin: 20px 1rem;
  }

  .container h1 {
    font-size: clamp(18px, 4.5vw, 20px);
    margin: 20px 0 30px;
  }

  .form_box {
    padding: 0.5rem;
  }

  .button_box {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 480px) {
  .form_box {
    padding: 0.25rem;
  }

  .button_box {
    gap: 0.5rem;
  }
}