@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.page {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.container {
    width: 1200px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -60px;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;
}

.container div h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    color: #404040;
    /*text-indent: 50px;*/
}
