@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.containersemana{
    display: flex;
    
  }

.containerdia {
    margin-right: 1px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flexbox;
    font-family: 'Poppins', sans-serif;
  }
  
    .botaohora {
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: #EEF8F3;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #327053;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
    
  }
  .diasdasemana {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-align: center;
  }
  .data{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }