@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.btn-pdf {
  background-color: #327053;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-pdf:hover {
  background-color: #5b977b;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(50, 112, 83, 0.3);
}

.btn-pdf:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(50, 112, 83, 0.3);
}
