@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.confirmar_button {
    width: 117px;
    height: 48px;
    border-radius: 10px;
    border: 1px;
    background-color: #327053;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    
}

.confirmar_button:hover {
    background-color: #5b977b;
}

.modal {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
    width: 620px;
    height: 181px;
    border-radius: 20px;
    border: 2px solid #ECECEC;
    box-shadow: 4px 5px 15px 0px #00000014;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 580px;
    height:45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2 {
    width: 580px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 32px;
}

.box1 div {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: #272727;
}

.button_close_modal {
    text-decoration: none;
    width: 24.12px;
    height: 24.12px;
    border-radius: 4.69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
    color: #909090;
}

.cancelar_button {
    width: 95px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #606060;
    background-color: white;
    
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #606060;
}

.cancelar_button:hover {
    background-color: #f3f3f37b;
}

.green_buttonFichas {
    width: 180px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #39805F;
    color: #FFF5F6;
    background-color: #39805F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}
.green_buttonFichas:hover {
    background-color: #5b977b;
}

.green_buttonFichas:disabled {
    background-color: #e5e5e5ea;
    cursor: not-allowed;
    color: #706e6e;
    border: 1px solid #706e6e;
}

@media (max-width: 700px) {
    .modal {
        width: 70vw;
        margin-left: 1em;
        transform: translate(-70%, -110%);
    }

    .box1 {
        width: 90%; 
    }

    .box2{
        width: 90%; 
    }
}

@media (max-width: 500px) {

    .confirmar_button {
        width: 6em;
    }
}

@media (max-width: 410px) {

    .confirmar_button {
        width: 5em;
    }
}