@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    min-height: 700px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.navbar_container {
    display: flex;
    gap: 32px;
    text-align: center;
    align-items: center;
}

.search {
    width: 1200px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info_container {
    width: 1200px;
    height: 136px;
    border-radius: 10px;
    border: 0.5px solid #B1B1B1;
    display: flex;
    align-items: center;
    padding: 16px;
}

.info_box {
    display: flex;
    flex: 1;
    gap: 32px;
}

.info_box > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info_box h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #606060;
}

.info_box p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #39805F;
}

.button_container {
    width: 384px;
    height: 56px;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

.editar_button {
    width: 117px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #327053;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.editar_button:hover {
    background-color: #5b977b;
}

.adicionar_tutor_button {
    width: 180px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #327053;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #327053;
}

.adicionar_tutor_button:hover {
    background-color: #f3f3f37b;
}

.paragrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #606060;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 1000px;
    width: 1500%;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.modalButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #327053;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modalButton:hover {
    background-color: #235e4b;
}

.message {
    min-height: 300px;
    margin-top: 56px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
