@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.busca {
    width: 900px;
    height: 56px;
    border-radius: 11px;
    border: 1px solid #B1B1B1;  
    display: flex;
    align-items: center;
}

.texto_busca {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    border: none;
    outline: none;
    flex-grow: 1;
    margin-left: 10px;
}

.button_busca {
    width: 80px;
    height: 40px;
    border-radius: 11px;
    border: 1px solid #B1B1B1;  
    background-color: white;
    border: none;
    outline: none;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
