@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.voltar_button{
display: flex;
align-items: center;
font-size: 1em;
margin-left: 7%;

}
.no_vagas {
  display: block;
  margin-bottom: 0.8em;
  margin-left: 8%;
  padding: 5px;
  background-color: #EEF8F3;
  border: none;
  cursor: pointer;
  color: #272727;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.title_box {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 1em;
  margin-bottom: 3em;
}

.title_box h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #000000;
}

.boxprincipal {
  display: block;
  width: 85%;
  max-width: 1500px;
  min-width: 300px;
  height: auto; 
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 0.5px solid #B1B1B1;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-bottom: 4em;

.input {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #3d856371;
    border: 1px solid #ccc;
}

.input::placeholder {
    font-family: 'Poppins', sans-serif;;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #000000;
}

  @media only screen and (max-width: 700px) {
    .select_container{
      display: flex;
      flex-direction: column;
    }
    .containersemana {
      display: flex;
      flex-direction: column;
      height: 600px;
    }
    .containerdia {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .botaohora {
      flex: 0 0 48%; 
      margin-left: 0; 
      margin-bottom: 2%;
      width: 12em;
      margin-top: 1em;
    }
    
  }
}

.select_container {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  gap: 0.4em;
  margin-bottom: 2em;
}

.select_container h1{
  font-size: 1.3em;
}

.select_box {
  flex: 1;
}

.select_box {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #272727;
}

.select_box select option {
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.containersemana{
  display: flex;
  justify-content: center;  
}

.containerdia {
  margin-right: 1px;
  padding: 10px;
  display: flexbox;
  font-family: 'Poppins', sans-serif;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 20%;
}

.botaoPrimeiraConsulta {
  display: block;
  margin-bottom: 0.8em;
  margin-left: 8%;
  padding: 5px;
  background-color: #3273C8;
  border: none;
  cursor: pointer;
  color: #EEF8F3;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.botaoPrimeiraConsulta:disabled {
  background-color: white;
  border: none;
  color: #B1B1B1;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  line-height: 1.2;
  border: 0.5px solid #B1B1B1;
}

.botaoRetorno {
  display: block;
  margin-bottom: 0.8em;
  margin-left: 8%;
  padding: 5px;
  background-color: #E44771;
  border: none;
  cursor: pointer;
  color: #EEF8F3;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 80%;
  height: 10vh;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.botaoRetorno:disabled {
  background-color: white;
  border: none;
  color: #B1B1B1;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 80%;
  height: 10vh;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  border: 0.5px solid #B1B1B1;
} 

/* //botão com a hora em verde/ */
.botaohora {
  display: block;
  margin-bottom: 0.8em;
  margin-left: 8%;
  padding: 5px;
  background-color: #EEF8F3;
  border: none;
  cursor: pointer;
  color: #404040;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 90%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.selected {
  border: 4px solid #8a8585;
}

/* /Botão de horário indisponível cinza/ */
.botaohoraIndisponivel {
  display: block;
  margin-bottom: 0.8em;
  margin-left: 8%;
  padding: 5px;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #B1B1B1;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 90%;
  height: 10vh;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  border: 0.5px solid #B1B1B1;
  text-decoration: line-through;
}



.diasdasemana {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
}

.data{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #909090;
}

.titulodataconsulta{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  font-weight: bold;
}

.descricaotitulodataconsulta{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: #404040;
  margin-top: 3vh;
  margin-bottom: 8vh;
}

.button_container {
  margin-top: 4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: -1em;
  gap: 1em;
  margin-right: 0.5em;
}

.agendar_button {
  width: 180px;
  height: 48px; 
  border-radius: 10px;
  background-color: #39805F;
  border: 1px solid #39805F;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FFF5F6;
}

.agendar_button:hover {
  background-color: #5b977b;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 126, 126, 0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 620px;
  height: 293px;
  border-radius: 12px;
  border: 2px;
  box-shadow: 4px 5px 15px 0px #00000014;
  background-color: white;
  padding: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container2 {
  width: 580px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  color: #272727;
}

.item {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #404040;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #39805F;
}

.div_button1 {
  height: 56px;
  display: flex;
  align-items: top;
}

.div_button2 {
  width: 580px;
  display: flex;
  justify-content: right;
  gap: 32px;
}

.button_close_modal {
  text-decoration: none;
  width: 24.12px;
  height: 24.12px;
  border-radius: 4.69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECECEC;
  border: 1px solid #ECECEC;
  color: #909090;
}

.button_cancelar_consulta {
  width: 95px;
  height: 448x;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #606060;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #606060;
  background-color: white;
}

.button_cancelar_consulta:hover {
  background-color: #f3f3f37b;
}

.button_agendar_consulta {
  width: 95px;
  height: 448x;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #39805F;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFF5F6;
  background-color: #39805F;

}

.button_agendar_consulta:hover {
  background-color: #5b977b;
}

.button_voltar_avancar{
  display: flex;
  justify-content: right;
  gap: 0.8em;
  margin-right: 1%;
  margin-bottom: 3%;
  margin-top: -4%;
}

.button_voltar{
  width: 2.6em;
  height: 2.5em;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #5b977b;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  background-color: #39805F;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.button_voltar:hover{
  background-color: #5b977b;
}

.button_avancar{
  width: 2.6em;
  height: 2.5em;
  border-radius: 0px 8px 8px 0px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  background-color: #39805F;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.button_avancar:hover{
  background-color: #5b977b;
}
.button_cancelar_consulta{
  justify-content: center;
  align-items: center;
}

.obrigatorio {
  color: #C7122F;
}

.error_message {
  margin-top: -0.2em;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #C7122F;
}

.legenda_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.legenda {
  display: flex;
  align-items: center;
  gap: 7px;
}

.legenda h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12.95px;
  font-weight: 600;
  line-height: 19.43px;

}

.aviso {
  margin-top: 2em;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.message {
  min-height: 300px;
  margin-top: 56px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.boxprincipal {
  display: block;
  width: auto; 
  max-width: 65%;
  min-width: 200px;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 0.9px solid #B1B1B1;
  margin: 0 0 7em auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-bottom: 5em;
}
.title_box h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #000000;
}

.diasdasemana {
    font-size: 18px;
}

.title_box h1 {
  font-size: 1.8em;/* Reduza o tamanho do título */
  align-items: center;
  flex-direction: column;
}
.aviso {
  margin-top: 2em;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}


.data {
    font-size: 16px;
}

.botaohora, .botaoPrimeiraConsulta, .botaoRetorno, .botaohoraIndisponivel {
    font-size: auto;
    height: 6em;
}

.select_box select {
    font-size: 0.9em; /* Tamanho da fonte menor para seletores */
}

.button_container {
    flex-direction: column;
    align-items: center;
}

.titulodataconsulta {
    font-size: 1.8em;
}

.descricaotitulodataconsulta {
    font-size: 0.8em;
}

.button_cancelar_consulta, .button_agendar_consulta {
    font-size: 12px;
    width: 140px;
    height: 35px;
}

}