.divPai {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.divCentral {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flexStyle{
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


@media (max-width: 700px) {

  .flexStyles {
    width: 100%;
    max-width: 600px;  
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}



.divPai {
  display: block;  
  width: 100%;
  max-width: 100vw;
  padding: 0;
  margin: 0 auto; 
  box-sizing: border-box;
  overflow-x: hidden; 
}


  .container {
    max-width: 390px; 
    margin: 0 auto;
}

}