@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

.infos_box {
    display: flex;
    flex-direction: column;
    width: 1200px;
    border-radius: 20px;
    border: 0.5px solid #B1B1B1;
    gap: 56px;
}

.identificacao {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
}

.nome_animal {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    margin-left: 24px;
}

.especie_animal {
    color: #39805F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-left: 24px;
}

.box {
    display: flex;
    margin-left: 24px;
    margin-bottom: 32px;
    margin-top: 26px;
    margin-right: 24px;
    align-items: top;
}

.lista {
    display: flex;
    flex-direction: column;
}

.infos {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.infos p {
    margin-top: -6px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}

.infos h6 {
    color: #39805F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

.tutor_dados {
    margin-top: -40px;
}

.item {
    list-style-type: none;
}

.button_box button {
    float: right;
    margin: 56px;
    margin-top: 20px;
    margin-bottom: -30px;
    width: 180px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #39805F;
    color: #39805F;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

.button_box button:hover {
    background-color: #f3f3f37b;
}
