/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    min-height: 900px;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.navbar {
    display: flex;
    gap: 32px;
    text-align: center;
}

.pesquisa {
    width: 1200px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info_box {
    width: 1200px;
    height: 102px;
    border-radius: 10px;
    border: 0.5px solid #B1B1B1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info div {
    width: 240px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #2D2D2D;
}

.line {
    width: 1200px;
    height: 44px;
    border-radius: 10px;
    background-color: #327053;
    display: flex;
    justify-content: left;
    align-items: center;
}

.line div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

.acessar_button {
    width: 180px;
    height: 48px;
    border-radius: 10px;
    border: 1px;
    font-size: 16px;
    color: white;
    background-color: #327053;
    font-family: 'Poppins', sans-serif;
}

.acessar_button:hover {
    background-color: #5b977b;
} */
