@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
}

.box_button, .box_button2{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 50px;
    
}

.button {
    width: 260px;
    height: 210px;
    padding: 24px, 40px, 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    border-radius: 24px;
    box-shadow: 0px 0px 14px 0px #00000033;
}

.button h6 {
    width: 212px;
    height: 72px;
    color: #327053;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.button:hover {
    background-color: #8BAD97;
}

.titulo {
    width: 100%;
    color: #327053;
    font-family: Poppins;
    font-size: 2,5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}


